body {
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
    text-align: center;
}
button {
    background-color:darkmagenta;
    color: white;
    font-size: 32px;
    padding: 8px 20px;
    cursor: pointer;
   
}
h2 {
    text-align: center;
}